{% extends 'base.html.twig' %}

{% block title %}Manufacturer index{% endblock %}

{% block body %}
    <h1>Manufacturer index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Website</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for manufacturer in manufacturers %}
            <tr>
                <td>{{ manufacturer.name }}</td>
                <td>{{ manufacturer.website }}</td>
                <td>
                    {{ include('manufacturer/_actions.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_manufacturer_new') }}">Create new</a>
{% endblock %}
